{{/*
  Copyright 2016 Sam Mussmann
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
*/}}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<p style="font-size: larger">Go <a id="today" href="/today">here</a> for today's order of service.</p>
<p><i>Powered by <a href="https://bitbucket.org/smussmann/ordo">Ordo</a>.</i></p>
<script>
var now = new Date();
var today_url = "/" + now.getFullYear() + 
                "/" + ("0" + (now.getMonth() + 1)).slice(-2) +
                "/" + ("0" + now.getDate()).slice(-2);
document.getElementById("today").href = today_url;
</script>
</body>
</html>
